.projectright h5{
    font-weight: 800;
    font-size: 25px;
}
.imagebody{
    border-radius: 15px;
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 5%, #784BA0 50%, #0e68a8 100%);
    
    height: 350px;
    width: 350px;
    overflow: hidden;
}

.projectright{
    padding-top: 7%;
}

.projectsection{
    height: 477px;
}

.illsimg{
    height: 382px;
    position: relative;
    right: 14px;
}

@media only screen and (max-width: 768px) {

    .projectsection{
        height: 680px;
    }
    
    .projectright{
        text-align: center;
    }
    

}

@media only screen and (max-width: 600px) {
  

    .imagebody {
        border-radius: 15px;
        background-color: #FF3CAC;
        background-image: linear-gradient(225deg, #FF3CAC 5%, #784BA0 50%, #0e68a8 100%);
        height: 273px;
        width: 264px;
    }

    .projectsection {
        height: 580px;
    }

    .illsimg {
        height: 296px;
        position: relative;
        right: 14px;
    }

  }